.about-us__content {
    @include center;
    text-align: center;
    @media (min-width: $tablet-width) {
        width: 458px;
        padding: 0;
        margin: 0 auto;
    }
}

.about-us__heading {
    @include reset;
    font-size: 21px;
    font-weight: 700;
    color: $black;
    margin-top: 37px;
    margin-bottom: 21px;
    @media (min-width: $tablet-width) {
        font-size: 30px;
        margin-top: 58px;
        margin-bottom: 32px;
    }
}

.about-us__text {
    @include reset;
    line-height: 24px;
    color: $black-light;
    @media (max-width: $mobile-widht-only) {
        br {
            display: none;
        }
    }
}

.about-us__link {
    @include reset;
    @include link;
    width: 100%;
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 17px;
    margin-top: 27px;
    margin-bottom: 49px;
    @media (min-width: $tablet-width) {
        margin-top: 39px;
        margin-bottom: 58px;
    }
    @media (min-width: $desktop-width) {
        margin-top: 42px;
        margin-bottom: 65px;
    }
}

.about-us__map {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    @media (min-width: $tablet-width) {
        margin-bottom: 0;
    }
}
