.main-nav {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.main-nav__toggle {
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 3;
    width: 23px;
    height: 22px;
    display: block;
    border: none;
    cursor: pointer;
    @media (min-width: $tablet-width) {
        display: none;
    }
}

.main-nav--closed {
    @media (max-width: $mobile-widht-only) {
        .main-nav__wrapper {
            display: none;
        }
    }
    .main-nav__toggle::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 23px;
        height: 4px;
        background-color: #81B3D2;
        box-shadow: 0 9px 0 0 #81B3D2, 0 18px 0 0 #81B3D2;
    }
    .main-nav__toggle:hover::before {
        opacity: 0.6;
    }
    .main-nav__toggle:active::before {
        opacity: 0.3;
    }
}

.main-nav--opened {
    .main-nav__wrapper {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }
    .main-nav__toggle::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 23px;
        height: 23px;
        background-color: #81B3D2;
        background-image: url(../img/icon-close.svg);
        background-repeat: no-repeat;
    }
    .main-nav__toggle:hover::before {
        background-image: url(../img/icon-close-hover.svg);
    }
    .main-nav__toggle:active::before {
        background-image: url(../img/icon-close-active.svg);
    }
}

.main-nav--nojs {
    .main-nav__toggle {
        display: none;
    }
}

.main-nav__list {
    @include reset;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 320px;
    @media (min-width: $tablet-width) {
        width: $tablet-width;
        flex-direction: row;
        justify-content: space-between;
        background-color: $white;
    }
    @media (min-width: $desktop-width) {
        width: $desktop-width;
    }
}

