.page-form {
    font-size: 18px;
    margin-bottom: 48px;
    @media (min-width: $tablet-width) {
        width: 648px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 60px;
        margin-bottom: 0;
    }
    @media (min-width: $desktop-width) {
        width: 960px;
        padding: 0 120px;
    }
}

.page-form__section {
    @include reset;
    @include center;
    border: none;
    @media (min-width: $tablet-width) {
        padding: 0;
    }
}

.page-form__legend {
    @include reset;
    font-size: 18px;
    font-weight: 700;
    color: $black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: $tablet-width) {
        font-size: 21px;
    }
}

.page-form__button {
    @include reset;
    @include link;
    width: 280px;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    border: none;
    padding-top: 18px;
    padding-bottom: 14px;
    margin-bottom: 48px;
    margin: 0 auto;
    @media (min-width: $tablet-width) {
        width: 100%;
        order: 6;
        margin-bottom: 61px;
        padding-right: 11px;
    }
    @media (min-width: $desktop-width) {
        margin-bottom: 62px;
        padding-right: 0;
    }
}