.page-footer {
    text-align: center;
    @media (min-width: $tablet-width) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 36px;
        padding-right: 60px;
        padding-bottom: 36px;
        padding-left: 45px;
    }
    @media (min-width: $desktop-width) {
        padding-right: 120px;
        padding-left: 104px;
    }
}

.page-footer__text {
    display: block;
    @include reset;
    font-size: 21px;
    font-weight: 700;
    color: $black;
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 33px;
    @media (min-width: $tablet-width) {
        margin: 0;
    }
}

.page-footer__social {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 37px;
    @media (min-width: $tablet-width) {
        margin: 0;
    }
}

.social-link {
    width: 46px;
    height: 48px;
    @include link;
    display: flex;
    justify-content: center;
    align-items: center;
    &:active {
        svg {
            opacity: 0.3;
        }
        path {
            opacity: 0.3;
        }
    }
}

.page-copyright {
    width: 127px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    @media (min-width: $tablet-width) {
        margin: 0;
    }
}

.page-copyright__text {
    @include reset;
    color: $black;
}

.page-copyright__link {
    @include reset;
    display: flex;
    &:hover .icon-copyright {
        fill: #81B3D2;
    }
    &:active svg {
        fill: #000000;
        opacity: 0.3;
    }
}

.page-copyright__icon {
    display: block;
}
