    .page-main {
        margin-top: 27px;
        @media (min-width: $tablet-width) {
            margin-top: 4px;
        }
        @media (min-width: $desktop-width) {
            margin-top: 16px;
        }
    }

    .inner-main {
        line-height: 24px;
        margin-top: 31px;
        @media (min-width: $tablet-width) {
            width: 648px;
            padding: 0 60px;
            margin-top: 7px;
        }
        @media (min-width: $desktop-width) {
            width: 1200px;
            padding: 0;
            margin-top: 15px;
        }
    }

    .form-main {
        margin-top: 34px;
        @media (min-width: $tablet-width) {
            margin-top: 37px;
        }
        @media (min-width: $desktop-width) {
            margin-top: 85px;
        }
    }

    .main-header {
        @include center;
        margin-bottom: 35px;
        @media (min-width: $tablet-width) {
            width: 490px;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 51px;
        }
        @media (min-width: $desktop-width) {
            margin-bottom: 42px;
        }
    }

    .form-main .main-header {
        margin: 0 auto;
        padding-bottom: 16px;
        border-bottom: 1px solid #E5E5E5;
        @media (min-width: $tablet-width) {
            border-bottom: none;
            margin-bottom: 71px;
        }
        @media (min-width: $desktop-width) {
            margin-bottom: 42px;
        }
    }

    .inner-main .main-header {
        width: auto;
        padding: 0;
        border-bottom: 1px solid #E5E5E5;
        margin-bottom: 0;
        padding-bottom: 30px;
        @media (min-width: $tablet-width) {
            margin-bottom: 48px;
            border-bottom: none;
        }
    }

    .inner-main .main-header {
        @media (min-width: $tablet-width) {
            width: 435px;
        }
    }

    .main-header__text {
        @include reset;
        text-align: center;
        @media (max-width: $mobile-widht-only) {
            br {
                display: none;
            }
        }
    }

    .inner-main .main-header__text {
        @include center;
        @media (min-width: $tablet-width) {
            width: auto;
            padding: 0;
        }
    }

    .form-main .main-header__text {
        line-height: 24px;
    }

    .main-header__heading {
        width: 260px;
        @include reset;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        @media (min-width: $tablet-width) {
            width: inherit;
            font-size: 21px;
            margin-bottom: 32px;
        }
    }

    .page-inner .main-header__heading {
        @media (min-width: $tablet-width) {
            font-size: 30px;
            margin-bottom: 34px;
        }
    }

    .form-main .main-header__heading {
        margin-bottom: 28px;
        @media (min-width: $tablet-width) {
            margin-bottom: 33px;
        }
    }
