    .page-form {
        font-size: 18px;
        margin-bottom: 48px;
        @media (min-width: $tablet-width) {
            width: 648px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 0 60px;
            margin-bottom: 0;
        }
        @media (min-width: $desktop-width) {
            width: 960px;
            padding: 0 120px;
        }
    }

    .page-form__section {
        @include reset;
        @include center;
        border: none;
        @media (min-width: $tablet-width) {
            padding: 0;
        }
    }

    .page-form__legend {
        @include reset;
        font-size: 18px;
        font-weight: 700;
        color: $black;
        text-align: center;
        @media (min-width: $tablet-width) {
            font-size: 21px;
        }
    }

    .fieldset-line {
        @include reset;
    }

    .presents-section {
        margin-top: 21px;
        padding-bottom: 25px;
        border-bottom: 1px solid #E5E5E5;
        @media (min-width: $tablet-width) {
            order: 2;
            width: 266px;
            justify-self: end;
            border-bottom: none;
            margin-top: 0;
            padding: 0;
        }
        @media (min-width: $desktop-width) {
            width: 400px;
        }
    }

    .presents-section__line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 22px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .presents-section__label {
        margin-right: 16px;
        font-size: 14px;
    }

    .fieldset-line__input {
        width: 100px;
        @include reset;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        color: $black;
        background-color: #F2F2F2;
        border: none;
        padding-top: 16px;
        padding-right: 10px;
        padding-bottom: 14px;
        padding-left: 22px;
        overflow: hidden;
        flex-grow: 1;
        &::placeholder {
            color: inherit;
        }
    }

    .presents-section__input {
        &:hover,
        &:focus {
            background-color: #E5E5E5;
        }
        &:active {
            background-color: $white;
        }
    }

    .presents-section .page-form__legend {
        margin-bottom: 22px;
        @media (min-width: $tablet-width) {
            text-align: start;
            margin-bottom: 57px;
        }
    }

    .contact-section {
        margin-top: 20px;
        padding-bottom: 11px;
        border-bottom: 1px solid #E5E5E5;
        .page-form__legend {
            margin-bottom: 16px;
            @media (min-width: $tablet-width) {
                width: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 21px;
                &::before,
                &::after {
                    content: "";
                    flex-grow: 1;
                    flex-shrink: 0;
                    height: 1px;
                    background-color: #DBDBDB;
                }
                &::before {
                    margin-right: 62px;
                }
                &::after {
                    margin-left: 62px;
                }
            }
            @media (min-width: $desktop-width) {
                margin-bottom: 73px;
            }
        }
        @media (min-width: $tablet-width) {
            width: 100%;
            order: 3;
            grid-column: 1/-1;
            margin-bottom: 17px;
            margin-top: 72px;
            border-bottom: none;
        }
        @media (min-width: $desktop-width) {
            display: flex;
            justify-content: space-between;
            margin-top: 69px;
            margin-bottom: 40px;
        }
    }

    .contact-section__line {
        @media (min-width: $desktop-width) {
            display: flex;
            justify-content: space-between;
            align-items: center;    
        } 
    }

    .contact-section__line span {
      
    }

    .contact-section__label {
        display: block;
        font-size: 14px;
        margin-left: 22px;
        margin-bottom: 8px;
        @media (min-width: $desktop-width) {
            margin: 0;
            margin-right: 18px;
            span {
                display: none;
            }
        }
    }

    .contact-section__input {
        position: relative;
    }

    .contact-section__input-content {
        width: 100%;
        display: flex;
        margin-bottom: 14px;
        @media (min-width: $tablet-width) {
            margin-bottom: 23px;
        }
        @media (min-width: $desktop-width) {
            width: 316px;
            margin-bottom: 0;
        }
    }

    .contact-section__icon-content {
        width: 58px;
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E6E6E6;
    }

    .filter-radio {
        margin-top: 20px;
        padding-bottom: 41px;
        border-bottom: 1px solid #E5E5E5;
        @media (min-width: $tablet-width) {
            width: 100%;
            order: 1;
            border-bottom: none;
            border-right: 1px solid #DBDBDB;
            margin-top: 0;
            padding: 0;
        }
    }

    .filter-radio__content {
        margin-top: 37px;
        @media (min-width: $desktop-width) {
            padding-left: 4px;
        }
    }

    .filter-radio__item {
        margin-bottom: 43px;
        &:last-child {
            margin-bottom: 0;
        }
        @media (min-width: $tablet-width) {
            margin-bottom: 52px;
        }
    }

    .filter-radio__input {
        @include reset;
    }

    .filter-radio__label {
        display: block;
        position: relative;
        font-size: 18px;
        font-weight: 700;
        color: $black;
        text-transform: none;
        margin-left: 78px;
        @media (min-width: $tablet-width) {
            margin-left: 75px;
        }
    }

    .filter-radio__input+.filter-radio__label::before {
        content: "";
        position: absolute;
        top: -16px;
        left: -77px;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: #F2F2F2;
    }

    .filter-radio__input+.filter-radio__label:hover::before {
        background-color: #E5E5E5;
    }

    .filter-radio__input+.filter-radio__label:active::before {
        background-color: #D5D5D5;
    }

    .filter-radio__input:checked+.filter-radio__label::after {
        content: "";
        position: absolute;
        top: 1px;
        left: -60px;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        background-color: #333333;
    }

    .filter-radio__input:checked+.filter-radio__label:active::after {
        opacity: 0.3;
    }

    
    .filter-radio legend {
        @media (min-width: $tablet-width) {
            text-align: start;
            margin-bottom: 35px;
        }
        @media (min-width: $desktop-width) {
            margin-left: 80px;
        }
    }

    .filter-checkbox {
        margin-top: 15px;
        padding-bottom: 39px;
        border-bottom: 1px solid #E5E5E5;
        .page-form__legend {
            margin-bottom: 36px;
            @media (min-width: $tablet-width) {
                margin-bottom: 59px;
                width: 100%;
                display: flex;
                align-items: center;
                &::before,
                &::after {
                    content: "";
                    flex-grow: 1;
                    flex-shrink: 0;
                    height: 1px;
                    background-color: #DBDBDB;
                }
                &::before {
                    margin-right: 62px;
                }
                &::after {
                    margin-left: 62px;
                }
            }
        }
        @media (min-width: $tablet-width) {
            order: 4;
            grid-column: 1/-1;
            border-bottom: none;
            margin: 0 auto;
            padding-bottom: 2px;
        }
        @media (min-width: $desktop-width) {
            width: 100%;
            margin-bottom: 61px;
        }
    }

    .filter-checkbox__content {
        @media (min-width: $tablet-width) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 520px;
            padding-left: 63px;
        }
        @media (min-width: $desktop-width) {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-left: 0;
        }
    }

    .filter-checkbox__label {
        display: block;
        position: relative;
        font-size: 18px;
        font-weight: 700;
        color: $black;
        text-transform: none;
        margin-left: 79px;
        margin-bottom: 54px;
        @media (min-width: $tablet-width) {
            margin-bottom: 62px;
        }
        @media (min-width: $desktop-width) {
            margin-bottom: 0;
        }
    }

    .filter-checkbox__label-end {
        margin-bottom: 0;
    }

    .filter-checkbox__input+.filter-checkbox__label::before {
        content: "";
        position: absolute;
        top: -16px;
        left: -80px;
        width: 56px;
        height: 56px;
        background-color: #f2f2f2;
        border-radius: 10%;
    }

    .filter-checkbox__input+.filter-checkbox__label:hover::before {
        background-color: #E5E5E5;
    }

    .filter-checkbox__input+.filter-checkbox__label:active::before {
        background-color: #D5D5D5;
    }

    .filter-checkbox__input:checked+.filter-checkbox__label::after {
        content: "";
        position: absolute;
        top: 4px;
        left: -63px;
        width: 23px;
        height: 16px;
        background-image: url(../../img/tick.svg);
        background-repeat: no-repeat;
    }

    .filter-checkbox__input:checked+.filter-checkbox__label:active::after {
        opacity: 0.3;
    }

    .textarea-section {
        margin-top: 20px;
        .page-form__legend {
            margin-bottom: 15px;
            @media (min-width: $tablet-width) {
                margin-bottom: 55px;
                width: 100%;
                display: flex;
                align-items: center;
                &::before,
                &::after {
                    content: "";
                    flex-grow: 1;
                    flex-shrink: 0;
                    height: 1px;
                    background-color: #DBDBDB;
                }
                &::before {
                    margin-right: 62px;
                }
                &::after {
                    margin-left: 62px;
                }
            }
        }
        @media (min-width: $tablet-width) {
            width: 100%;
            order: 5;
            grid-column: 1/-1;
        }
    }

    .textarea-section__text {
        width: 279px;
        height: 160px;
        resize: none;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        color: $black;
        border: none;
        box-sizing: border-box;
        background-color: #F2F2F2;
        padding: 13px 23px 29px 21px;
        margin-bottom: 44px;
        &::placeholder {
            color: inherit;
        }
        @media (min-width: $tablet-width) {
            width: 100%;
            padding-top: 17px;
            margin-bottom: 51px;
        }
    }

    .page-form__button {
        @include reset;
        @include link;
        width: 280px;
        font-size: 21px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        border: none;
        padding-top: 18px;
        padding-bottom: 14px;
        margin-bottom: 48px;
        margin: 0 auto;
        @media (min-width: $tablet-width) {
            width: 100%;
            order: 6;
            margin-bottom: 61px;
            padding-right: 11px;
        }
        @media (min-width: $desktop-width) {
            margin-bottom: 62px;
        }
    }

    .warning {
        display: none;
        @media (min-width: $tablet-width) {
            display: block;
            order: 7;
            justify-self: end;
            font-size: 14px;
            margin-top: 18px;
        }
    }

    .modal__heading {
        @include reset;
        font-size: 18px;
        font-weight: 700;
        color: $black;
        text-align: center;
        margin-bottom: 26px;
        @media (min-width: $tablet-width) {
            font-size: 30px;
            line-height: 40px;
        }
    }

    .modal__text {
        @include reset;
        line-height: 24px;
        color: $black-light;
        text-align: center;
        margin: 0 auto;
    }

    .modal {
        width: 320px;
        height: min-content;
        background-color: white;
        z-index: 10;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        margin: auto;
        position: fixed;
        left: 0px;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .modal-failure {
        padding: 40px 42px 35px 42px;
        margin-top: 116px;
        box-sizing: border-box;
        @media (min-width: $tablet-width) {
            width: 400px;
            padding: 49px 47px 49px 47px;
            margin-top: 209px;
        }
        @media (min-width: $desktop-width) {
            margin-top: 236px;
        }
        .modal__text {
            margin-bottom: 22px;
            @media (min-width: $tablet-width) {
                margin-bottom: 37px;
                br {
                    display: none;
                }
            }
        }
        .modal__heading {
            margin-bottom: 26px;
            br {
                display: none;
                @media (min-width: $tablet-width) {
                    display: block;
                }
            }
        }
    }

    .modal-success {
        margin-top: 116px;
        padding-top: 38px;
        @media (min-width: $tablet-width) {
            width: 640px;
            margin-top: 162px;
            padding-top: 45px;
        }
        @media (min-width: $desktop-width) {
            margin-top: 93px;
        }
        .modal__text {
            width: 244px;
            margin-bottom: 39px;
            @media (min-width: $tablet-width) {
                width: 415px;
                margin-bottom: 42px;
            }
        }
        .modal__button {
            width: 320px;
            border: 20px solid #F2F2F2;
            @media (min-width: $tablet-width) {
                width: 640px;
                font-size: 21px;
                border-top: 44px solid #F2F2F2;
                border-right: 91px solid #F2F2F2;
                border-bottom: 44px solid #F2F2F2;
                border-left: 91px solid #F2F2F2;
            }
        }
    }

    .modal__button {
        @include link;
        @include reset;
        font-family: "PT Sans", arial, sans-serif;
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
        border: none;
        padding-top: 18px;
        padding-bottom: 14px;
    }

    .modal-failure {
        .modal__button {
            width: 180px;
            margin: 0 auto;
            @media (min-width: $tablet-width) {
                width: 272px;
            }
        }
    }

    .modal-success {
        
    }
