@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin center {
    width: 280px;
    padding: 0 20px;
}

@mixin link {
    display: block;
    color: $white;
    background-color: #81B3D2;
    &:hover,
    &:focus {
        background-color: #669EC0;
    }
    &:active {
        color: rgba(255, 255, 255, 0.3);
    }
    &:disabled {
        background-color: #E5E5E5;
    }
}

